<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>论文收录管理</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/admin/thesisManage.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">

</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md16">
            <div class="layui-card">
                <div class="layui-card-header">论文收录管理</div>
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-quote-nm">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">论文查询</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="input" id="input" lay-verify="required" style="width:400px;" placeholder="请输入论文名称，支持模糊查询" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <button type="button" class="layui-btn layui-btn-normal" id="search">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </blockquote>
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        <!--申报信息的表格-->
                        <table id="table_thesisforadmin" lay-filter="table_thesisforadmin"></table>
                    </blockquote>

                </div>
            </div>
        </div>
    </div>
</div>

<!--修改表格的工具列-->
<script type="text/html" id="toolbar">
    {{# if(d.status === "待审核"){ }}
    <!--<a class="operation" lay-event="download" title="查看该论文">
        <i class="layui-icon layui-icon-download-circle"></i>查看论文
    </a>-->
    <a class="operation" style="margin-left:10px;" lay-event="pass" title="给予合格评价">
        <i class="layui-icon layui-icon-praise"></i>合格
    </a>
    <a class="operation" style="margin-left:10px;" lay-event="no-pass" title="给予不合格评价">
        <i class="layui-icon layui-icon-tread"></i>不合格
    </a>
    <a class="operation" style="margin-left:10px;" lay-event="del" title="删除该项目">
        <i class="layui-icon layui-icon-close"></i>删除
    </a>
    {{#  } }}
    {{# if(d.status === "审核通过"){ }}
    <!--<a class="operation" lay-event="download" title="下载该论文">
        <i class="layui-icon layui-icon-download-circle"></i>下载
    </a>-->
    <a class="operation" style="margin-left:10px;" lay-event="del" title="删除该项目">
        <i class="layui-icon layui-icon-close"></i>删除
    </a>
    {{#  } }}
    {{# if(d.status === "审核不通过"){ }}
    <a class="operation" lay-event="del" title="删除该项目">
        <i class="layui-icon layui-icon-close"></i>删除
    </a>
    {{#  } }}
</script>
<!--修改表格的状态列-->
<script type="text/html" id="statusbar">
    {{# if(d.status === "待审核"){ }}
    <span style="color:#ffd800;">待审核</span>
    {{#  } }}
    {{# if(d.status === "审核通过"){ }}
    <span style="color:#00FF00;">审核通过</span>
    {{#  } }}
    {{# if(d.status === "审核不通过"){ }}
    <span style="color:#CF1900;">审核不通过</span>
    {{#  } }}
</script>
</body>
</html>